<!DOCTYPE html>
<html lang="ab">
<head>
    {{> head }}

    <!-- Map dispaly CSS !-->
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/map-display.css"/>
</head>

<body>
    <div id="wrapper">
        {{> nav }}
        {{> dashboard/sidebar }}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">

                <!-- Page title !-->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Unknown Location Form</h1>
                        <p>Unknow locations are non-fixed locations in the Library such as Learning Commons south wall,
                            etc. </p>
                    </div> <!-- /.col-lg-12 -->
                </div> <!-- /.row -->

                <!-- Form !-->
                <div class="row">
                    <div class="col-lg-12">

                        <form href="unknown" method="POST" role="form">

                            <!-- Name & Floor !-->
                            <div class="row">

                                <!-- Location name input !-->
                                <div class="col-lg-6">
                                    <div class="form-group" id="name-group">
                                        <label for="name">Location Name</label>
                                        <input type="text" id="name" name="name" class="form-control"
                                               placeholder="location name"
                                               autofocus>
                                        <p class="help-block">Enter the name of the location being created.</p>
                                        <span id="nameError" class="help-block"></span>
                                    </div>
                                </div> <!-- / .col-lg-6 !-->

                                <!-- Floor input !-->
                                <div class="col-lg-6">
                                    <div class="form-group" id="floor-group">
                                        <label for="floor">Floor</label>
                                        <select id="floor" name="floor" class="form-control"
                                                autofocus>
                                            <option value=1>1</option>
                                            <option value=2>2</option>
                                            <option value=3>3</option>
                                            <option value=4>4</option>
                                            <option value=5>5</option>
                                            <option value=6>6</option>
                                        </select>
                                        <p class="help-block">Enter the floor where location is located.</p>
                                        <span id="floorError" class="help-block"></span>
                                    </div>
                                </div> <!-- / .col-lg-6 !-->
                            </div> <!-- / Name & Floor !-->

                            <!-- Attribute & Tags !-->
                            <div class="row">

                                <!-- Attributes Input !-->
                                <div class="col-lg-6">
                                    <div class="form-group" id="attribute-group">
                                        <label for="attribute">Attribute</label>
                                        <textarea rows="5" id="attribute" name="attribute" class="form-control"
                                                  placeholder="Lighting, Natural, Electrical, Socket, etc."
                                                  autofocus></textarea>
                                        <p class="help-block">Enter the attributes the location contains.</p>
                                        <span id="attributeError" class="help-block"></span>
                                    </div>
                                </div> <!-- / .col-lg-6 !-->

                                <!-- Tag Input !-->
                                <div class="col-lg-6">
                                    <div class="form-group" id="tag-group">
                                        <label for="tag">Tag</label>
                                        <textarea rows="5" id="tag" name="tag" class="form-control"
                                                  placeholder="Learning Corner, Circulation Desk, etc."
                                                  autofocus></textarea>
                                        <p class="help-block">Enter the tag used to identify the location.</p>
                                        <span id="tagError" class="help-block"></span>
                                    </div>
                                </div> <!-- / .col-lg-6 !-->
                            </div> <!-- / Attribute & Tags !-->


                            <!-- Mark Location & Entry Point !-->
                            <div class="row">

                                <!-- Map Location Input!-->
                                <div class="col-lg-6">
                                    <div class="form-group" id="location-group">
                                        <p class="input-label">Mark Location</p>
                                        <span id="locationError" class="help-block"></span>
                                    </div>

                                    <!-- Map Control !-->
                                    <div class="row" id="map-control">

                                        <!-- Draw and select location control !-->
                                        <div class="col-lg-12">
                                              <div class="btn btn-default" id="btn-location-draw">Draw Location</div>
                                            <div class="btn btn-default" id="btn-box-draw">Draw By Box</div>
                                            <div class="btn btn-default" id="btn-location-select">Select Location</div>
                                            <div class="row controls hidden" id="location-draw-controls">
                                                <div class="col-lg-12">
                                                    <div class="btn btn-primary" id="btn-location-fill">Fill</div>
                                                    <div class="btn btn-warning" id="btn-location-clear">Clear</div>
                                                    <div class="btn btn-success" id="btn-location-save">Save Location
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- /.col-lg-6 !-->
                                    </div> <!-- /.row !-->
                                </div>

                                <!-- Entry Point Input !-->
                                <div class="col-lg-6">
                                    <div class="form-group" id="entry-group">
                                        <p class="input-label">Set Entry Point</p>
                                        <span id="entryError" class="help-block"></span>
                                    </div>
                                    <div class="btn btn-default" id="btn-navigation">Set Entry Point</div>
                                    <div class="row controls hidden" id="navigation-controls">
                                        <div class="col-lg-12">
                                            <div class="btn btn-default" id="btn-navigation-show">Show Grid</div>
                                            <div class="btn btn-default" id="btn-navigation-hide">Hide Grid</div>
                                            <div class="btn btn-warning" id="btn-navigation-clear">Clear</div>
                                            <div class="btn btn-success" id="btn-navigation-save">Set Entry Point</div>
                                        </div>
                                    </div>
                                </div>

                            </div> <!-- / Mark Location & Entry Point !-->

                            <!-- Map & Grid !-->
                            <div class="form-group" id="map-group">
                                <section id="grid" style="position:absolute"></section>

                                <div id="map-wrapper">

                                </div>
                            </div> <!-- / Map & Grid !-->

                            <!-- Form Control !-->
                            <p class="input-label">Form Options</p>
                            <input id="type" name="type" value="unknown" hidden="true"/>
                            <button type="submit" class="btn btn-success" id="btn-save">Save</button>
                            <button type="reset" class="btn btn-warning" id="btn-clear">Clear</button>
                            <button class="btn btn-danger" id="btn-cancel">Cancel</button>
                        </form>
                    </div> <!-- col-lg-6 !-->
                </div> <!-- /.row !-->


            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
        {{> footer }}
    </div>
    <!-- /#wrapper -->

    {{> dashboard/confirmationmodal }}

    {{> dashboard/javascript }}

    <!-- ApprovedJS !-->
    <script src="/approvejs/approve.min.js"></script>

    <!-- Pathfinding js-->
    <script src="/pathfinding/visual/lib/pathfinding-browser.min.js"></script>

    <!-- LodashJS !-->
    <script src="/lodash/lodash.js"></script>

    <!-- Draw Polygons js !-->
    <script src="/public/javascripts/draw-polygon.js"></script>

    <!-- Navigation Controls !-->
    <script src="/public/javascripts/navigation-main.js"></script>

    <!-- Form Controls JS !-->
    <script src="/public/javascripts/control-form.js" ></script>


</body>