<!DOCTYPE html>
<html lang="ab">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Oregon State University</title>
    <link rel="Shortcut Icon" href="http://oregonstate.edu/images/favicon.ico"/>
    <!--Facebook Meta Tags-->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Oregon State Unviersity"/>
    <meta property="og:description"
          content="Oregon State is a leading research university located in Corvallis. Founded in 1868, Oregon State's impact reaches across the state and beyond."/>
    <meta property="og:image" content="http://oregonstate.edu/images/meta.jpg"/>
    <meta property="og:url" content="http://oregonstate.edu"/>
    <!--Twitter Cards-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@oregonstateuniv">
    <meta name="twitter:creator" content="@oregonstateuniv">
    <meta name="twitter:title" content="Oregon State University">
    <meta name="twitter:description"
          content="Oregon State is a leading research university located in Corvallis. Founded in 1868, Oregon State's impact reaches across the state and beyond.">
    <meta name="twitter:image" content="http://oregonstate.edu/images/meta.jpg">

    <!-- Bootstrap -->
    <link rel="stylesheet" href='/bootstrap/css/bootstrap.min.css'>

    <!-- MetisMenu !-->
    <link rel="stylesheet" href='/metismenu/metisMenu.min.css'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/fontawesome/css/font-awesome.min.css">

    <!-- Main Style-->
    <link rel="stylesheet" href='/public/stylesheets/dashboard-main.css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">

        <!-- Navigation -->
        {{> dashboard-nav }}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Blank</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Gudea:400,400italic,700' rel='stylesheet' type='text/css'>

    <!-- jQuery js -->
    <script src='/jquery/jquery.min.js'></script>

    <!-- Bootstrap js -->
    <script src='/bootstrap/js/bootstrap.min.js'></script>

    <!-- MetisMenu js -->
    <script src='/metismenu/metismenu.min.js'></script>

    <!-- Dashboard js -->
    <script src='/public/javascripts/dashboard-admin.js'></script>

    <script>
        /*(function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48705802-2', 'auto');
        ga('send', 'pageview');*/
    </script>

</body>
</html>
