<!DOCTYPE html>
<html lang="ab">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Oregon State University</title>
    <link rel="Shortcut Icon" href="http://oregonstate.edu/images/favicon.ico"/>
    <!--Facebook Meta Tags-->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Oregon State Unviersity"/>
    <meta property="og:description"
          content="Oregon State is a leading research university located in Corvallis. Founded in 1868, Oregon State's impact reaches across the state and beyond."/>
    <meta property="og:image" content="http://oregonstate.edu/images/meta.jpg"/>
    <meta property="og:url" content="http://oregonstate.edu"/>
    <!--Twitter Cards-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@oregonstateuniv">
    <meta name="twitter:creator" content="@oregonstateuniv">
    <meta name="twitter:title" content="Oregon State University">
    <meta name="twitter:description"
          content="Oregon State is a leading research university located in Corvallis. Founded in 1868, Oregon State's impact reaches across the state and beyond.">
    <meta name="twitter:image" content="http://oregonstate.edu/images/meta.jpg">

    <!-- Bootstrap -->
    <link rel="stylesheet" href='/bootstrap/css/bootstrap.min.css'>

    <!-- Font Awesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- OSU Style-->
    <link rel="stylesheet" href='/public/stylesheets/osu.css?v=1'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://oregonstate.edu"><img src="/public/images/osu/logo.jpg?v=1" alt="oregon state university" width="215"
                                                      height="78"/></a><h1 class="navbar-text">Libnav</h1>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="top-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
    </nav>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>Flexitarian craft beer chillwave, normcore scenester direct trade shabby chic chambray literally
                        paleo hashtag chicharrones green juice. Organic offal tattooed authentic. Franzen deep v
                        try-hard, ugh pork belly twee irony ennui man bun sriracha. Godard dreamcatcher skateboard blog
                        meggings, disrupt kombucha try-hard man bun tumblr kale chips quinoa vinyl. Selfies retro green
                        juice, heirloom chillwave fashion axe tofu seitan next level cardigan kickstarter 90's tilde
                        four dollar toast flannel. Hella narwhal art party blue bottle cred. Yr cardigan flannel,
                        drinking vinegar pabst freegan helvetica chambray artisan kickstarter cray lomo brooklyn +1.</p>
                </div>
                <div class="col-sm-6">
                    <p>Bushwick cardigan XOXO slow-carb, tilde squid you probably haven't heard of them mlkshk cornhole
                        fashion axe aesthetic drinking vinegar forage. Yr vegan sriracha, keytar neutra cronut meggings
                        kale chips before they sold out 8-bit vinyl +1 wolf semiotics raw denim. Cardigan gochujang
                        brooklyn, semiotics dreamcatcher hammock kickstarter. Irony synth vice, locavore chicharrones
                        literally everyday carry semiotics. Keytar deep v ennui, mustache twee wolf try-hard chambray
                        master cleanse normcore squid farm-to-table vegan. Chartreuse letterpress banjo, chia tumblr
                        mumblecore biodiesel cornhole tattooed squid green juice. Chicharrones plaid cronut photo booth,
                        everyday carry health goth humblebrag mumblecore tattooed roof party banh mi.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Contact Information</h3>
                    <p>Flexitarian craft beer chillwave, normcore scenester direct trade shabby chic chambray literally
                        paleo hashtag chicharrones green juice. Organic offal tattooed authentic. Franzen deep v
                        try-hard, ugh pork belly twee irony ennui man bun sriracha. Godard dreamcatcher skateboard blog
                        meggings, disrupt kombucha try-hard man bun tumblr kale chips quinoa vinyl.</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Gudea:400,400italic,700' rel='stylesheet' type='text/css'>

    <!-- jQuery js -->
    <script src='/jquery/jquery.min.js'></script>

    <!-- Bootstrap js -->
    <script src='/bootstrap/js/bootstrap.min.js'></script>

    <script>
        /*(function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48705802-2', 'auto');
        ga('send', 'pageview');*/
    </script>

</body>
</html>
