<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <!--<div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Libnav</a>
    </div>
    &lt;!&ndash; /.navbar-header &ndash;&gt;-->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://oregonstate.edu"><img src="/public/images/osu/logo.jpg?v=1"
                                                                   alt="oregon state university" width="215"
                                                                   height="78"/></a>
        <h1 class="navbar-text">Libnav</h1>
    </div> <!-- ./navbar-header !-->

    <ul class="nav navbar-top-links navbar-right">


    </ul>
    <!-- /.navbar-top-links -->

    <!-- Sidebar !-->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li>
                    <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-pencil-square-o  fa-fw"></i> Location Forms<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/dashboard/known">Known</a>
                        </li>
                        <li>
                            <a href="/dashboard/unknown">Unknown</a>
                        </li>
                        <li>
                            <a href="/dashboard/room">Room</a>
                        </li>
                        <li>
                            <a href="/dashboard/servicepoint">Service Point</a>
                        </li>
                        <li>
                            <a href="/dashboard/blocked">Blocked</a>
                        </li>


                    </ul>
                    <!-- /.nav-second-level -->
                </li>


            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>