<!-- Sidebar !-->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav <!--navbar-collapse-->">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="#">Floor 1<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" id="floor-1-location">
                    <li><a href="#">Example 1 </a></li>
                </ul>
            </li>
            <li>
                <a href="#">Floor 2<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" id="floor-2-location">
                    <li><a href="#">Example 1 </a></li>
                </ul>
            </li>
            <li>
                <a href="#">Floor 3<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" id="floor-3-location">
                </ul>
            </li>
            <li>
                <a href="#">Floor 4<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" id="floor-4-location">
                </ul>
            </li>
            <li>
                <a href="#">Floor 5<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" id="floor-4-location">
                </ul>
            </li>
            <li>
                <a href="#">Floor 6<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" id="floor-4-location">
                </ul>
            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
