<!DOCTYPE html>
<html lang="ab">
<head>
    {{> home/head }}


</head>
<body>
    {{> home/nav}}

    <div class="container">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        {{body}}
    </div>

    {{> home/footer }}
    {{> home/javascript }}
</body>