<!DOCTYPE html>
<html lang="ab">
<head>
    {{> home/head }}


</head>
<body>
    {{> home/nav}}

    <div class="container">

        <div class="form-signin">
            <p class="alert alert-warning hidden" id="loginerror"><i class="fa fa-exclamation-triangle "></i> Username
                or Password was incorrect.</p>
            <form action="/user/login" method="POST" name="login-form">
                <h2 class="form-signin-heading">Login</h2>
                <!-- Username input !-->
                <div class="form-group">
                    <label for="username" class="sr-only">Email address</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
                </div>

                <!-- Password input !-->
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>

    {{> home/footer }}
    {{> home/javascript }}
</body>