<!DOCTYPE html>
<html lang="ab">
<head>
    {{> head }}
</head>
</html>
<body>
    <div id="wrapper">
        {{> nav }}
        {{> home/sidebar }}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="map-wrapper">

                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
        {{> footer }}
    </div>
    <!-- /#wrapper -->

    {{> home/javascript }}

    <!-- MetisMenu js -->
    <script src='/metismenu/metisMenu.min.js'></script>

    <!-- Dashboard js -->
    <script src='/public/javascripts/dashboard-admin.js'></script>

    <!-- Pathfinding js-->
    <script src="/pathfinding/visual/lib/pathfinding-browser.min.js"></script>

    <!-- Navigation js -->
    <script src="/public/javascripts/navigation-main.js"></script>

    <!--polygon-hover.js-->
    <!--<script src="/public/javascripts/polygon-hover.js"></script>-->

    <!-- D3 js -->
    <script src="/d3/build/d3.min.js"></script>

    <!-- Lodash js -->
    <script src="lodash/lodash.js"></script>

    <script src="/public/javascripts/draw-polygon.js" ></script>

    <!-- Home UI controls JS !-->
    <script src="/public/javascripts/control-home.js"></script>


</body>